body {
	margin:0;
    /*Copied from https://freefrontend.com/css-background-patterns/*/
    background: radial-gradient(#417dba 3px, transparent 4px), radial-gradient(black 1px, transparent 1px), linear-gradient(#ffff 2px, transparent 8px), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
    background-size: 108.9px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    /*----------------------------------------------------------------*/
    font-family: 'Lato', sans-serif;
}

/*h1 {
	background-color: lightgrey;
    margin: 0;
    padding: 40px;
    box-shadow: 0px 1px 6px 1px grey;
}*/
.header {
    margin: 0;
    padding: 40px;
    box-shadow: 0px 1px 6px 1px grey;
    background-image: -webkit-linear-gradient(30deg, #9ed1ff 49.7%, #fe9882 50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 50px;
}

#header-left {
    padding-left: 30px;
}

.or-main {
    display: flex;
    padding-left: 55px;
}

#left-or{
    color:black;
}

#right-or {
    color: white;
}

#header-right {
    color: white;
    padding-right: 30px;
}

#main-display {
	  display: flex;
    justify-content: center;
    padding-top: 60px;
    height:500px;
}

#count-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.formContainer {
    background-color: white;
	display: flex;
    justify-content: center;
    width: 500px;
    height: 330px;
    box-shadow: 0px 0px 9px 2px #ccc;
    border-radius: 4px;

}

form {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 320px;
    width: 60%;
}

.input-box {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}


#login-button {
    width: 80%;
    align-self: center;
    background-color: #9ed1ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

#login-button:hover {
    background-color: #fe9882;
}

.popup {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

#popup-main {
    background-color: white;
    width: 600px;
    height: 30%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

#count-title {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 80px;
}

#popup-button {
    margin-bottom: 50px;
    width: 70%;
    align-self: center;
    background-color: #9ed1ff;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}

#popup-button:hover {
    background-color: #5775a5;
}

#logout-button {
    width: 50%;
    align-self: center;
    background-color: #fe9882;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 60px;
}

#logout-button:hover {
    background-color: #d68573;
}

#curr-count {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    border-right: 1px dotted black;
}

#curr-count-heading {
    font-size: 27px;
}

#next-count-heading {
    font-size: 27px;
}

#keep-count {
    width: 100%;
    border: none;
    background-color: transparent;
    height: 70px;
    font-size: 16px;
}

#next-count {
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

#update-count {
    width: 100%;
    border: none;
    background-color: transparent;
    height: 70px;
    font-size: 16px;
}

/*SWEEP TO THE RIGHT on hover animation*/
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fe9882;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #9ed1ff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

